<!---Login form---->
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p><input type="text" id="username" placeholder="Enter username" formControlName="username"/></p>
  <p><input type="passsword" id="password" placeholder="Enter password" formControlName="password"/></p>
  <p><input type="checkbox" id="remember_me" formControlName="remember"/><label>Remember me?</label></p>
  <p><input type="submit" value="Sercure login"></p>
</form>